h1{
    margin-left: auto;
    margin-right: auto;
    padding:0;
    text-align: center;
    width: 100px;
    display: block;
}
.first {
text-align: center;
}
.second{
text-align: center;
font-size: smaller;
color: red;
margin: 10px;
background-color: antiquewhite;
border: dotted, 2px rgb(255, 0, 0);
padding:5px
}
img {
width: 30%;
margin-left: auto;
margin-right: auto;
display: block;
}
.main-header {
background-image: linear-gradient
(rgb(197, 141, 137), rgb(252, 232, 204));
position: fixed;
top: 0;
right: 0;
left: 0;
height: 48px;
}
.header-info {
text-align: left;
color: rgb(219, 84, 75);
position: fixed;
left: 0;
padding: 0;
margin: 14-x 14px 0 14px;
}
.header-info a {
padding: 0;
text-decoration: none;
}
.header-info a:hover {
background-color: transparent
}
nav {
position: absolute;
right: 0;
display: flex;
}
a {
text-decoration: none;
color: rgb(219, 84, 75);
padding: 15px;
float: left;
}
a:hover {
background-color: burlywood;
}
.jumbotron {
margin-top: 5%;
}